@using WEBUI.Models.Helpers;

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/Views/ControlActions.js"></script>

<script src="~/Scripts/Views/vModifyPassword.js"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<link href="~/Content/css/stylesLogin1.css" rel="stylesheet" />
<div class="container body-content">
    <div class="alert alert-success alert-dismissable" style="display: none" id="alert_container">
        <button type="button" class="close" onclick="$('.alert').hide()">&times;</button>
        <span id="alert_message"></span>
    </div>
</div>

<div class="container">
    <div class="card col-6 formLogIn">
        <div class="card-body">
            <fieldset class="col-xs-10 col-xs-offset-1">

                <h2>¡Bienvenido a Terminal App!</h2>
                <form id="frmLogin">
                    @Html.CtrlInput(id: "textPassword", type: "password", label: "Contraseña vieja", columnDataName: "Password")
                    @Html.CtrlInput(id: "textNewPass", type: "password", label: "Nueva contraseña", columnDataName: "Name")
                    @Html.CtrlInput(id: "textConfirmPass", type: "password", label: "Comfirmar Contraseña", columnDataName: "Identification")
                </form>
                @Html.CtrlButton(viewName: "vModifyPassword", id: "btnLogin", label: "Modificar", onClickFunction: "Modify", buttonType: "primary")

                @Html.ActionLink("Volver al Login", "vLogin", "Home")
                @Html.ActionLink("Olvide mi contraseña", "vRecoverPassword", "Home")
            </fieldset>
        </div>
    </div>
</div>