@using WEBUI.Models.Helpers;

<script src="~/Scripts/Views/VSchedule.js"></script>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="tituloGestiones" class="col-4" data-step="1" data-intro="Bienvenido a la administración de horarios, en esta vista podrá asignar, crear, editar...">Gestión de Horarios</h1>
<div class="col-3" data-step="2" data-intro="Seguidamente la funcionabilidad de  'crear horarios'  en esta sección podrá hacer la creación de los respectivos horarios que desee ">

    @Html.CtrlButton(viewName: "VSchedule", id: "btnOpenModal", label: "Registrar Horario", onClickFunction: "openModal")
    <a data-step="3" data-intro="Especialmente para la ayuda con respecto a la navegación de la página " class="btn btn-large btn-warning" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();">Guíame</a>
</div>
<div data-step="4" data-intro="Lista de todos los horarios registrados previamente en el sistema, que podrá gestionar de igual forma con solo presionar uno de los horarios en la lista">

    @Html.CtrlTable(viewName: "VSchedule", id: "tblSchedules", title: "Listado de Horarios",
                 columnsTitle: "Terminal,Compañía,Ruta,Día,Hora Salida (24H)", ColumnsDataName: "Route.RouteTerminal.Name~Route.RouteCompany.Name~Route.Name~Day~DepartHour", onSelectFunction: "bindFields")
</div>

<div class="col-1" data-step="5" data-intro="Gracias por cosultar la ayuda de la página, esperemos que sea de gran ayuda..."></div>

<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar Horarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-component">
                            <form id="frmEdition">
                                <fieldset id="fsCompany">
                                    @Html.CtrlComboBox(id: "companyComboBox", label: "Compañía", idList: "Company", columnDataName: "IdCompany")
                                </fieldset>
                                <fieldset id="fsRoute">
                                    @Html.CtrlComboBox(id: "routeComboBox", label: "Ruta", idList: "", columnDataName: "IdRoute")
                                </fieldset>
                                <fieldset id="fsSchedule">
                                    @Html.CtrlInput(id: "txtScheduleID", type: "number", label: "ID de Horario", columnDataName: "IdSchedule")
                                    @Html.CtrlComboBox(id: "dayComboBox", label: "Día", idList: "Day", columnDataName: "Day")
                                    @Html.CtrlInput(id: "departHour", type: "time", label: "Hora de Salida (Formato 24H)", columnDataName: "DepartHour")
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @Html.CtrlButton(viewName: "VSchedule", id: "btnCreate", label: "Registrar", onClickFunction: "create", buttonType: "success")
                @Html.CtrlButton(viewName: "VSchedule", id: "btnUpdate", label: "Actualizar", onClickFunction: "update", buttonType: "info")
                @Html.CtrlButton(viewName: "VSchedule", id: "btnDelete", label: "Eliminar", onClickFunction: "SatatusAlertDesactive", buttonType: "danger")
            </div>
        </div>
    </div>
</div>
