

@using WEBUI.Models.Helpers;

<script src="~/Scripts/Views/vUser.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 id="tituloGestiones" class="col-4" data-step="1" data-intro="Bienvedido a la administración de usuarios, en esta vista podrá crear, actualizar y eliminar usuarios.">Gestión de Usuarios</h1>
<div class="col-3" data-step="2" data-intro="Seguidamente la funcionabilidad de  'crear usuario', en esta sección podrá hacer la creación de los respectivas usuarios que desee ">

    @Html.CtrlButton(viewName: "vUser", id: "btnOpenModal", label: "Crear usuario", onClickFunction: "OpenModal")
    <a data-step="3" data-intro="Especialmente para la ayuda con respecto a la navegación de la página " class="btn btn-large btn-warning" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();">Guíame</a>

</div>
<div data-step="4" data-intro="Lista de todos las usuarios registrados previamente en el sistema, que podrá gestionar de igual forma con solo presionar uno de los usuarios en la lista">

    @Html.CtrlTable(viewName: "vUser", id: "tblUser", title: "Lista de Usuarios",
                columnsTitle: "Cédula,Nombre,Apellidos,Correo Electrónico, Fecha Nacimiento,Estado, Roles, Terminal", ColumnsDataName: "Identification~Name~LastName~Email~BirthDateString~StatusString~Roleslist[, ].Name~UserTerminal.Name", onSelectFunction: "BindFields")

</div>

<div class="col-1" data-step="5" data-intro="Gracias por cosultar la ayuda de la página, esperemos que sea de gran ayuda..."></div>




<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar Usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-component">
                            <form id="frmEdition">
                                @Html.CtrlInput(id: "txtPkIdUser", type: "number", label: "Cédula", columnDataName: "Identification")
                                @Html.CtrlInput(id: "txtName", type: "text", label: "Nombre", columnDataName: "Name")
                                @Html.CtrlInput(id: "txtLastName", type: "text", label: "Apellidos", columnDataName: "LastName")
                                @Html.CtrlInput(id: "txtEmail", type: "email", label: "Correo", columnDataName: "Email")
                                @Html.CtrlInput(id: "txtBDate", type: "date", label: "Fecha de nacimiento", columnDataName: "BirthDateString")
                                @Html.CtrlComboBox(id: "terminalComboBox", label: "Terminal", idList: "Terminal", columnDataName: "Terminal")
                                @Html.CtrlCheckBoxList(idList: "Role", labelName: "Roles", columnDataName: "Roleslist")
                            </form>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                @Html.CtrlButton(viewName: "vUser", id: "btnCreate", label: "Registrar", onClickFunction: "Create", buttonType: "success")
                @Html.CtrlButton(viewName: "vUser", id: "btnUpdate", label: "Actualizar", onClickFunction: "Update", buttonType: "info")
                @Html.CtrlButton(viewName: "vUser", id: "btnActivate", label: "Activar", onClickFunction: "SatatusAlertActive", buttonType: "warning")
                @Html.CtrlButton(viewName: "vUser", id: "btnDesactive", label: "Desactivar", onClickFunction: "SatatusAlertDesactive", buttonType: "danger")
            </div>
        </div>
    </div>
</div>
